{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}?v1.2">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{{ user.username }}'s Collections</title>


{% endblock %}
{% block body %}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCollection">
  Create Collection
</button>

<!-- Modal -->
    <div class="modal fade" id="createCollection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a Collection</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'shared_photo_library:collections' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
          </div>
              </form>
          </div>

        </div>
      </div>
    </div>
<div class="container">
    <div class="row">
        {% for col in collections %}

        <div class="col-md-3">
        <a href="{% url 'shared_photo_library:collection_detail' id=col.id %}">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 style="text-align: center" class="card-text">{{ col.collection_name }}</h6>
                 <p style="text-align: center; font-size: small; color: #a0a0af">created by <i>{{ col.owner }}</i> </p>
                 <p style="text-align: center; font-size: small; color: #a0a0af"><i>{{ col.created_date }}</i> </p>
                 <p style="text-align: center; font-size: small; color: #a0a0af">({{ col.photo_number }})</p>
              </div>
              <img class="cover" src="{{col.cover.url}}"  alt="...">

            </div>
        </a>


        </div>

        {%endfor  %}
    </div>
</div>
{% endblock %}
