{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}?v1.2">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{ user.username }}'s Profile</title>


{% endblock %}
{% block body %}
    <h2>Welcome {{ user.username }}</h2>
<a href="{% url 'shared_photo_library:photos' %}">
    Photos
</a>
<a href="{% url 'shared_photo_library:collections' %}">
    Collections
</a>

<a href="{% url 'shared_photo_library:views' %}">
Views
</a>




{% endblock %}
